{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-8 col-md-4 col-sm-8">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            Камень
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}